Stardust::GraphQL.define_mutation :<%= type_name %> do

  description "TODO: Write a detailed description"

  ## Optional
  ##
  # argument :id, :integer, required: true,
  #               loads: ::MyModel, as: :model

  ## Required
  ## What fields does this mutation return
  ##
  # field :item, :item, null: true
  # field :error, :error, null: true

  ## Can this query return nil
  # null true


  def resolve
    ## TODO: add your logic here
    ## if has_error
    ##   {item: some_item}
    ## else
    ##   { error: { message: "Some error" } }
    ## end
  end


end
